include ../modals/subscriberCreateOrEditModal.jade
include ../modals/subscriberRemoveModal.jade

.row
    h1 Recurring Payments - Subscribers
.panel.panel-default
    .panel-heading
        .row
            .col-md-6
              h2.panel-title
                i.fa.fa-icon
                | Subscribers : {{subscribersAmount}}
            .col-md-6
                a.def_btn.wet_asphalt_btn.float-right(href="" ng-csv='subscriberCSV' filename="midsExport.csv" ng-if="subscribersAmount != 0" tooltip="Export results to excel")
                    i.fa.fa-file-excel-o 
                    span Excel Export
                a.def_btn.emerald_btn.float-right.margin-right(href="" ng-click="open()" ng-controller="subscriberCreateModal" tooltip="Create Subscriber")
                    i.fa.fa-plus
                    span Create Subscriber
    .panel-body
        h3.noResults(ng-if="subscribersAmount == 0") {{'There are currently no subscribers configured for this account.'}}
        table.table.table-striped.ng-table-responsive.midsTable(st-table="shownSubscribers" st-safe-src="subscribersBulk" ng-if="subscribersAmount != 0")
            thead
                tr
                    th(colspan="10")
                        input.form-control(st-search="" type="search" placeholder="Filter through all subscribers" tooltip="Filter through all subscriber results")
                tr
                    th.st-header(st-sort="FirstName" st-sort-default style="width:15%") 
                        span(tooltip="Sort Display FirstName") First Name
                    th.st-header(st-sort="LastName" style="width:10%") 
                        span(tooltip="Sort LastName") Last Name
                    th.st-header(st-sort="City" style="width:10%")
                        span(tooltip="Sort Monthly City") City
                    th.st-header(st-sort="Country" style="width:10%") 
                        span(tooltip="Sort Country") Country
                    th.st-header(st-sort="Email" style="width:5%")
                        span(tooltip="Sort Email") Email
                    th.st-header-nosort(style="width:15%")
                        span() Actions
            tbody
                tr(ng-repeat="subscriber in shownSubscribers")
                    td {{subscriber.FirstName}}
                    td {{subscriber.LastName}}
                    td {{subscriber.City}}
                    td {{subscriber.Country}}
                    td {{subscriber.Email}}
                    td 
                        a.row_btn.edit_mid_btn(ng-click="openIt(subscriber.SubscriberId)" ng-controller="subscriberEditModalCtrl" tooltip="Edit {{subscriber.LastName | uppercase}}")
                            i.fa.fa-edit
                            span Edit
                        a.row_btn.delete_mid_btn(ng-click="open($index,subscriber.SubscriberId,subscriber.LastName)" ng-controller="subscriberRemoveModalCtrl" tooltip="Delete {{subscriber.LastName | uppercase}}")
                            i.fa.fa-trash
                            span Delete
            tfoot
                tr
                    td.text-center(colspan="10")
                        div(st-pagination="" st-items-by-page="20")