//include ../modals/mock.html
//include ../modals/midsEditModal.html
//include ../modals/addMIDSmodal.html
//include ../modals/midsConfirmModal.html
//include ../modals/merchantRemoveModal.html
//include ../modals/merchantCreateModal.jade
//include ../modals/merchantEditModal.jade

//MODALS FOR SUBSCRIPTIONS
include ../modals/subscriptionCreateModal.jade
include ../modals/subscriptionDeleteModal.jade
include ../modals/subscriptionEditModal.jade


.row
  h1 Recurring Payments - Subscriptions 
.merchant_view
  .panel.panel-default
    .panel-heading
      .row
            .col-md-6
              h2.panel-title
                i.fa.fa-icon
                | Subscriptions Available: {{subscriptionsAmount}}
            .col-md-6
                a.def_btn.wet_asphalt_btn.float-right(href="" ng-csv='subscriptionsCSV' filename="subscriptionsExport.csv" ng-if="subscriptionsAmount != 0")
                  i.fa.fa-file-excel-o 
                  span Excel Export
                a.def_btn.emerald_btn.float-right.margin-right(href="" ng-click="open()" ng-controller="subscriptionsCreateModalCtrl") 
                  i.fa.fa-plus
                  span Create Subscription
    .panel-body
      h3.noResults(ng-if="subscriptionsAmount == 0") {{'There are currently no subscriptions confingured for this account.'}} 
      accordion(ng-if="subscriptionsAmount != 0")
        table.table.ng-table-responsive.table-striped(st-table="shownSubscriptions" st-safe-src="subscriptionsBulk")
             thead
               tr
                 th(colspan="7")
                   input.form-control(st-search="" type="search" placeholder="Filter through all MID groups")
                 tr
                   th.st-header(st-sort="DisplayName" width="20%") Name
                   th.st-header(st-sort="PlanType.Id" width="20%") Recurring Type
                   th.st-header(st-sort="CalendarDayOrInterval" width="5%") Day
                   th.st-header(st-sort="Amount" width="10%") Amount
                   th.st-header(st-sort="NextBillingDate" width="15%") Next Invoice Date
                   th.st-header(st-sort="Mid" width="10%") Processing MID
                   th.st-header-nosort(width="20%") Actions 
              
             tbody(ng-repeat="subscription in shownSubscriptions")


               tr(id="base{{$index}}")
                 td {{subscription.DisplayName}}
                 td(ng-if="subscription.PlanType.Id == 1") Calendar Date
                 td(ng-if="subscription.PlanType.Id == 2") Cycle Days
                 td {{subscription.CalendarDayOrInterval}}
                 td {{subscription.Amount | currency}}
                 td {{subscription.NextBillingDate | date:'MM/dd/yyyy'}}
                 td {{subscription.Mid | uppercase }}
                 td
                    a.row_btn.emerald_btn.margin-right(href="" ng-click="openMID(merchant); loadMIDS(merchant.Id,merchant); checkWindow(shownMerchants)" ng-controller="addMIDSmodalCtrl"  tooltip="Add Subscribers" tooltip-placement="top")
                      i.fa.fa-plus
                      span Add
                    a.row_btn.wet_asphalt_btn.margin-right(href="" ng-click="loadMIDS(merchant.Id,merchant); gotoMID($index,shownMerchants)"  tooltip="View Subscribers" tooltip-placement="top")
                      i.fa.fa-eye
                      span View
                    a.row_btn.turquoise_btn.margin-right(ng-click="open(subscription.SubscriptionId)" ng-controller="subscriptionEditModalCtrl" tooltip="Edit Subscription" tooltip-placement="top")
                      i.fa.fa-edit
                      span Edit
                    a.row_btn.alazarin_btn(ng-click="open($index,subscription.SubscriptionId,subscription.DisplayName)" ng-controller="subscriptionDeleteModalCtrl" tooltip="Delete Subscription" tooltip-placement="top")
                      i.fa.fa-trash
                      span Delete
                 td.hidden_td
                    tr
                      td.pushToggle(colspan="7")
                        accordion-group(heading="" ng-click="loadMIDS(merchant.Id,merchant)" is-open="merchant.open")
                          table.table.table-striped
                            thead
                              tr
                                th MID Name
                                th Rollover MID
                                th Monthly Cap
                                th Actions

                            tbody
                              tr(ng-repeat="mid in mids")
                                td {{mid.DisplayName}}
                                td {{mid.RolloverMidName}}
                                td {{mid.MonthlyCap}}
                                td 
                                    a.row_btn.turquoise_btn.margin-right(ng-click="openIt(mid)" ng-controller="midsModalCtrl") 
                                      i.fa.fa-edit
                                      span Edit
                                    a.row_btn.alazarin_btn.margin-right(ng-click="openMID($index,mid)" ng-controller="midsConfirmModalCtrl") 
                                      i.fa.fa-trash
                                      span Remove