//MODALS FOR SUBSCRIPTIONS
include ../modals/subscriptionCreateModal.jade
include ../modals/subscriptionDeleteModal.jade
include ../modals/subscriptionEditModal.jade
include ../modals/subscriptionAddSubscribers.jade 
include ../modals/subscriberRemoveConfirmModal.jade

.row
  h1  Recurring Payments - Subscriptions
.merchant_view
  .panel.panel-default
    .panel-heading
      .row
            .col-md-6
              h2.panel-title
                i.fa.fa-icon
                | Subscriptions Available: {{subscriptionsAmount}}
            .col-md-6
                a.def_btn.wet_asphalt_btn.float-right(href="" ng-csv='subscriptionsCSV' filename="subscriptionsExport.csv" ng-if="subscriptionsAmount != 0")
                  i.fa.fa-file-excel-o 
                  span Excel Export
                a.def_btn.emerald_btn.float-right.margin-right(href="" ng-click="open()" ng-controller="subscriptionsCreateModalCtrl") 
                  i.fa.fa-plus
                  span Create Subscription
    .panel-body
      h3.noResults(ng-if="subscriptionsAmount == 0") {{'There are currently no subscriptions confingured for this account.'}}
      accordion(ng-if="subscriptionsAmount != 0")
        table.table.ng-table-responsive.table-striped(st-table="shownSubscriptions" st-safe-src="subscriptionsBulk")
             thead
               tr
                 th(colspan="7")
                   input.form-control(st-search="" type="search" placeholder="Filter through all subscriptions")
                 tr
                   th.st-header(st-sort="DisplayName" width="20%") Name
                   th.st-header(st-sort="Amount" width="5%") Amount
                   th.st-header(st-sort="StartDate" width="10%") Start Date
                   th.st-header(st-sort="FrequencyDsc" width="10%") Pay Frequency
                   th.st-header(st-sort="NextBillingDate" width="10%") Next Invoice Date
                   th.st-header(st-sort="Mid" width="15%") Processing MID
                   th.st-header-nosort(width="20%") Actions 
              
             tbody(ng-repeat="subscription in shownSubscriptions")
              tr(id="base{{$index}}")
                td {{subscription.DisplayName}}
                td {{subscription.Amount | currency}}
                td {{subscription.StartDate | date:'MM/dd/yyyy'}}
                td {{subscription.FrequencyDsc}}
                td {{subscription.NextBillingDate | date:'MM/dd/yyyy'}}
                td {{subscription.Mid | uppercase }}
                td
                    a.row_btn.emerald_btn.margin-right(href="" ng-click="openMID(subscription); loadSubscribers(subscription.SubscriptionId,subscription); checkWindow(shownSubscriptions)" ng-controller="subscriptionAddSubscriberModalCtrl"  tooltip="Add Subscribers" tooltip-placement="top")
                      i.fa.fa-plus
                      span Add
                    a.row_btn.wet_asphalt_btn.margin-right(href="" ng-click="loadSubscribers(subscription.SubscriptionId,subscription); gotoSubscription($index,shownSubscriptions)" tooltip="View Subscribers" tooltip-placement="top")
                      i.fa.fa-eye
                      span View
                    a.row_btn.turquoise_btn.margin-right(ng-click="open(subscription.SubscriptionId,$index)" ng-controller="subscriptionEditModalCtrl" tooltip="Edit Subscription" tooltip-placement="top")
                      i.fa.fa-edit
                      span Edit
                    a.row_btn.alazarin_btn(ng-click="open($index,subscription.SubscriptionId,subscription.DisplayName)" ng-controller="subscriptionDeleteModalCtrl" tooltip="Delete Subscription" tooltip-placement="top")
                      i.fa.fa-trash
                      span Delete
                 td.hidden_td
                    tr
                      td.pushToggle(colspan="7")
                        accordion-group(heading="" ng-click="loadSubscribers(subscription.SubscriptionId,subscription)" is-open="subscription.open")
                          .row.text-center(ng-if="assignedSubscribers.length == 0") There are currently no subscribers assigned to this subscription


                          table.table.table-striped(ng-if="assignedSubscribers.length > 0")
                            thead
                              tr
                                th Subscriber Name
                                th City
                                th State
                                th Country
                                th Email
                                th Card Type
                                th Card Last 4
                                th Actions

                            tbody
                              tr(ng-repeat="subscriber in assignedSubscribers")
                                td {{subscriber.FirstName}}, {{subscriber.LastName}}
                                td {{subscriber.City}}
                                td {{subscriber.State}}
                                td {{subscriber.Country}}
                                td {{subscriber.Email}}
                                td {{subscriber.CardType}}
                                td {{subscriber.CcLast4}}
                                td 
                                    //a.row_btn.turquoise_btn.margin-right(ng-click="openIt(subscriber.SubscriberId)" ng-controller="subscriberEditModalCtrl" tooltip="Edit {{subscriber.LastName | uppercase}}") 
                                      i.fa.fa-edit
                                      span Edit
                                    a.row_btn.alazarin_btn.margin-right(ng-click="openMID($index,subscriber)" ng-controller="subscriberRemoveConfirmModalCtrl" tooltip="Edit Remove {{subscriber.FirstName}}, {{subscriber.LastName}} from {{subscription.DisplayName}}")
                                      i.fa.fa-trash
                                      span Remove Subsriber