a.groupAnchor(href="")
    i.fa.fa-info-circle
    span  Belongs to {{groupLen}}  Groups
    div.floater
        ul(ng-repeat="group in groupNames")
            li {{group.Id}}-{{group.DisplayName}}      