.row
    h1 Virtual Terminal
// AUTHORIZE FEEDBACK
.panel.panel-default.feedback(ng-if="authType == 'Authorize'")
    .panel-heading
        .row
            .col-md-8(nowrap='')
                h2.panel-title
                  i.fa.fa-icon
                  | Authorize Parameters:
            .col-md-4
                a.def_btn.belize_hole_btn.float-right.margin-right(href="" ng-click="reloadVirtual()" tooltip="New Operation")
                    i.fa.fa-share
                    span New Operation
                a.def_btn.peter_river_btn.float-right.margin-right(href="" ng-click="modifyVt()" ng-if="repStatus != 0" tooltip="Modify Authorize")
                    i.fa.fa-reply
                    span Modify Authorize
    .panel-body
         table.table
          thead
            tr
                th First name
                th Last name
                th Email
                th Address
                th City
                th Zip
                th Mid Group
                th Amount
                th Unique Identifier
          tbody
            tr
                td {{authFname}}
                td {{authLname}}
                td {{authEmail}}
                td {{authAddress}}
                td {{authCity}}
                td {{authZip}}
                td {{authMidGroup}}
                td {{authAmount | currency}}
                td {{authRefnumber}}
                
// CAPTURE FEEDBACK
.panel.panel-default.feedback(ng-if="authType == 'Capture'")
    .panel-heading
        .row
            .col-md-8(nowrap='')
                h2.panel-title
                  i.fa.fa-icon
                  | Capture Parameters:
            .col-md-4
                a.def_btn.belize_hole_btn.float-right.margin-right(href="" ng-click="reloadVirtual()" tooltip="New Operation")
                    i.fa.fa-share
                    span New Operation
                a.def_btn.peter_river_btn.float-right.margin-right(href="" ng-click="modifyVt()" ng-if="repStatus != 0" tooltip="Modify Capture")
                    i.fa.fa-reply
                    span Modify Capture
    .panel-body
         table.table
          thead
            tr
                th Transaction #
                th Authorization Code
                th Ref #
               
          tbody
            tr
                td {{captureTransNumber}}
                td {{captureAuthCode}}
                td {{captureRefNumber}}
// CHARGE FEEDBACK
.panel.panel-default.feedback(ng-if="authType == 'Charge'")
    .panel-heading
        .row
            .col-md-8(nowrap='')
                h2.panel-title
                  i.fa.fa-icon
                  | Charge Parameters:
            .col-md-4
                a.def_btn.belize_hole_btn.float-right.margin-right(href="" ng-click="reloadVirtual()" tooltip="New Operation")
                    i.fa.fa-share
                    span New Operation
                a.def_btn.peter_river_btn.float-right.margin-right(href="" ng-click="modifyVt()" ng-if="repStatus != 0" tooltip="Modify Charge")
                    i.fa.fa-reply
                    span Modify Charge

    .panel-body
         table.table
          thead
            tr
                th First name
                th Last name
                th Email
                th Address
                th City
                th Zip
                th Mid Group
                th Amount
                th Unique Identifier
          tbody
            tr
                td {{chargeFname}}
                td {{chargeLname}}
                td {{chargeEmail}}
                td {{chargeAddress}}
                td {{chargeCity}}
                td {{chargeZip}}
                td {{chargeMidGroup}}
                td {{chargeAmount | currency}}
                td {{chargeRefnumber}}


// REFUND FEEDBACK
.panel.panel-default.feedback(ng-if="authType == 'Refund'")
    .panel-heading
        .row
            .col-md-10
                h2 Refund Query
            .col-md-2
                a.addMIDGroup(href="" ng-click="reloadVirtual()") New Operation
    .panel-body
         table.table
          thead
            tr
                th Transaction #
                th Authorization Code
                th Amount
                th Ref #
               
          tbody
            tr
                td {{refund_form.transNumber}}
                td {{refund_form.AuthCode}}
                td {{refund_form.Amount}}
                td {{refund_form.refnumber}}
// VOID FEEDBACK
.panel.panel-default.feedback(ng-if="authType == 'Void'")
    .panel-heading
        .row
            .col-md-10
                h2 Void Query
            .col-md-2
                a.btn.btn-primary(href="" ng-click="reloadVirtual()") New Operation
    .panel-body
         table.table
          thead
            tr
                th Transaction #
                th Authorization Code
                th Amount
                th Ref #
               
          tbody
            tr
                td {{refund_form.transNumber}}
                td {{refund_form.AuthCode}}
                td {{refund_form.Amount}}
                td {{refund_form.refnumber}}



.panel.panel-default.virtual_panel
    .panel-heading
        .row
            .col-md-1
                h2.panel-title
                  i.fa.fa-icon
                  | Operation type: 
            .col-md-4
                select.opType.form-control(ng-model="authType")
                    option(value="Charge") Charge
                    option(value="Authorize") Authorize
                    option(value="Capture") Capture
            .col-md-1(ng-hide="authType == 'Capture'")
                h2.panel-title
                  i.fa.fa-icon
                  | Existing cust:
            .col-md-3(ng-hide="authType == 'Capture'")
                select.form-control(ng-model="subscriberSelection" ng-change="selectExistingUser(subscriberSelection)" ng-options="obj as obj.LastName + ' ' + obj.FirstName + '  -  ' + obj.Email for obj in subscribersBulk | orderBy:'LastName'")
                    option(value="") Select 


    .panel-body
        .form-inline
                // CHARGE FORM
                form.form-inline.virtual_form(name="charge_form" ng-show="authType == 'Charge'" novalidate)
                    h2.stand Charge form:
                    .row.virtual_content
                        .col-md-6
                            .form-group
                                label First name:
                                    span.required-icon *
                                input.form-control(type="text" name="fname" placeholder="Lee" ng-model="chargeFname" required="")
                            .form-group
                                label Last name:
                                    span.required-icon *
                                input.form-control(type="text" name="lname" placeholder="Nelson" ng-model="chargeLname" required="")
                            .form-group
                                label Email:
                                    span.required-icon *
                                input.form-control(type="email" name="email" placeholder="youremail@gmail.com" ng-model="chargeEmail" required="")
                            .form-group
                                label Billing address:
                                    span.required-icon *
                                input.form-control(type="text" name="address" placeholder="123 Main St" ng-model="chargeAddress" required="")
                            .form-group
                                label Billing city:
                                    span.required-icon *
                                input.form-control(type="text" name="city" placeholder="ex San Diego" ng-model="chargeCity" required="")
                            .form-group
                                label Billing state:
                                    span.required-icon *
                                input.form-control(type="text" name="state" placeholder="ex CA" ng-model="chargeState" required="")
                            .form-group
                                label Billing country:
                                select.form-control(type="text" name="country" placeholder="ex USA" ng-model="chargeCountry" ng-options="obj.Id as obj.Country for obj in countries" required="")
                                    option(value="") Select Country 

                            .form-group
                                label Billing postal:
                                    span.required-icon *
                                input.form-control(type="text" name="zip" placeholder="ex 92111" ng-model="chargeZip" required="")
                            .form-group
                                label Billing phone:
                                    span.required-icon *
                                input.form-control(type="text" name="phone" placeholder="ex 619-540-9909" ng-model="chargePhone" required="")

                        .col-md-6
                            .form-group
                                label Amount: 
                                    span.required-icon *
                                input.form-control(type="text" name="amount" ng-model="chargeAmount" required="")
                            .form-group
                                label Currency:
                                select.form-control(name="currency" ng-model="chargeCurrency" required="" ng-options="obj.Id as obj.Name for obj in currencies")
                                    
                            .form-group
                                label Credit Card Number:
                                    span.required-icon *
                                input.form-control(type="text" name="ccNumber" placeholder="ex. 4264-6542-4984-4116" ng-model="chargeCcNumber" required="")
                            .form-group
                                label CVV:
                                    span.required-icon *
                                input.form-control(type="password" name="Cvv" maxlength="4" ng-model="chargeCvv")
                            .form-group
                                label Expiration Date
                                select.form-control(name="ExpireMonth" ng-model="chargeExpireMonth" required="")
                                    option(value="") MM
                                    option(value=01) 01-Jan
                                    option(value=02) 02-Feb
                                    option(value=03) 03-Mar
                                    option(value=04) 04-Apr
                                    option(value=05) 05-May
                                    option(value=06) 06-Jun
                                    option(value=07) 07-Jul
                                    option(value=08) 08-Aug
                                    option(value=09) 09-Sep
                                    option(value=10) 10-Oct
                                    option(value=11) 11-Nov
                                    option(value=12) 12-Dec
                                select.form-control(name="ExpireYear" ng-model="chargeExpireYear" required="")
                                    option(value="") YYYY
                                    option 2015
                                    option 2016
                                    option 2017
                                    option 2018
                                    option 2019
                                    option 2020
                                    option 2021
                                    option 2022

                            h3 Reference Details:
                            .form-group
                                label MID:
                                select.form-control(name="midSelect" ng-model="chargeMid" ng-options="obj.Id as obj.DisplayName for obj in shownMids" required="" tooltip="Select the MID to process this charge")
                                    option(value="") Select MID

                            .form-group
                                label Ref Details:
                                    span.required-icon *
                                input(type="text" name="refnumber" placeholder="ex 564-984716" ng-model="chargeRefnumber" required="" tooltip="This is a unique identifier to track this charge, this may be replaced with your own custom unique identifier")
                    .row.errorMsg
                        p {{errorMsg}}

                    .row
                        a(href="" ng-click="chargeSubmit()").generate_results Charge



                // AUTHORIZE FORM
                form.form-inline.virtual_form(name="auth_form" ng-show="authType == 'Authorize'" ng-submit="submit()" novalidate)
                    h2.stand Authorization form:
                    .row.virtual_content
                        .col-md-6
                            .form-group
                                label First name:
                                input.form-control(type="text" name="fname" placeholder="Joe" ng-model="authFname" required="")
                            .form-group
                                label Last name:
                                input.form-control(type="text" name="lname" placeholder="Smith" ng-model="authLname" required="")
                            .form-group
                                label Email:
                                input.form-control(type="email" name="email" placeholder="enter a valid email" ng-model="authEmail" required="")
                            .form-group
                                label Billing address:
                                input.form-control(type="text" name="address" placeholder="123 Main St" ng-model="authAddress" required="")
                            .form-group
                                label Billing city:
                                input.form-control(type="text" name="city" placeholder="ex San Diego" ng-model="authCity" required="")
                            .form-group
                                label Billing state:
                                input.form-control(type="text" name="state" placeholder="ex CA" ng-model="authState" required="")
                            .form-group
                                label Billing country:
                                select.form-control(type="text" name="country" placeholder="ex USA" ng-model="authCountry" ng-options="obj.Id as obj.Country for obj in countries" required="")
                                    option(value="") Select Country 

                            .form-group
                                label Billing postal:
                                input.form-control(type="text" name="zip" placeholder="ex 92111" ng-model="authZip" required="")
                            .form-group
                                label Billing phone:
                                input.form-control(type="text" name="phone" placeholder="ex 619-540-9909" ng-model="authPhone" required="")

                        .col-md-6
                            .form-group
                                label Amount:
                                input.form-control(type="text" name="amount" placeholder="50" ng-model="authAmount" required="")
                            .form-group
                                label Currency:
                                select.form-control(name="user.currency" ng-model="authCurrency" required="" ng-options="obj.Id as obj.Name for obj in currencies")
                                   
                            .form-group
                                label Credit Card Number:
                                input.form-control(type="text" placeholder="ex. 4264-6542-4984-4116" name="ccNumber" ng-model="authCcNumber" required="")
                            .form-group
                                label CVV:
                                input.form-control(type="password" maxlength="4" name="authCvv" ng-model="authCvv")
                            .form-group
                                label Expiration Date
                                select.form-control(name="ExpireMonth" ng-model="authExpireMonth" required="")
                                    option(value="") MM
                                    option(value=01) 01-Jan
                                    option(value=02) 02-Feb
                                    option(value=03) 03-Mar
                                    option(value=04) 04-Apr
                                    option(value=05) 05-May
                                    option(value=06) 06-Jun
                                    option(value=07) 07-Jul
                                    option(value=08) 08-Aug
                                    option(value=09) 09-Sep
                                    option(value=10) 10-Oct
                                    option(value=11) 11-Nov
                                    option(value=12) 12-Dec
                                select.form-control(name="ExpireYear" ng-model="authExpireYear" required="")
                                    option(value="") YYYY
                                    option 2015
                                    option 2016
                                    option 2017
                                    option 2018
                                    option 2019
                                    option 2020
                                    option 2021
                                    option 2022

                            h3 Reference Details:
                            .form-group
                                label MID:
                                select.form-control(name="authmidSelect" ng-model="authMid" ng-options="obj.Id as obj.DisplayName for obj in shownMids" required="" tooltip="Select the MID to process this authorization")
                                    option(value="") Select MID
                                    
                            .form-group
                                label Ref Details:
                                input(name="refnumber" type="text" placeholder="ex 564-984716" ng-model="authRefnumber" required="")
                    .row.errorMsg
                        p {{errorMsg}}

                    .row
                        a(href="" ng-click="authSubmit()" type="submit").generate_results Authorize



                // CAPTURE FORM
                form.form-inline.virtual_form(name="capture_form" ng-show="authType == 'Capture'" novalidate)
                    h2.stand Capture form:
                    .row.virtual_content
                        .col-md-6
                            h3 Previous Transaction Details:
                            .form-group
                                label Transaction number:
                                    span.required-icon *
                                input(type="text" name="TransNumber" ng-model="captureTransNumber" placeholder="ex. 5489629" required="")
                            .form-group
                                label Authorization code:
                                    span.required-icon *
                                input(type="text" name="AuthCode" ng-model="captureAuthCode" placeholder="Enter Authorization Code" required="")
                        .col-md-6
                            h3 Reference Details:
                            .form-group
                                label Ref number:
                                    span.required-icon *
                                input(type="text" name="RefNumber" ng-model="captureRefNumber" placeholder="Enter Your Unique Identifier" required="" tooltip="This is a unique identifier to track this capture, this may be replaced with your own custom unique identifier")

                    .row.errorMsg
                        p {{errorMsg}}

                    .row
                        a(href="" ng-click="captureSubmit()").generate_results Capture






                // REFUND FORM
                form.form-inline.virtual_form(name="refund_form" ng-show="authType == 'Refund'" novalidate)
                    h2.stand Refund form
                    .row.virtual_content
                        .col-md-6
                            h3 Previous Transaction Details
                            .form-group
                                label Transaction number:
                                input(type="text" ng-model="refund_form.transNumber")
                            .form-group
                                label Authorization code:
                                input(type="text" ng-model="refund_form.AuthCode")
                        .col-md-6
                            h3 Payment Details
                            .form-group
                                label Amount
                                input(type="text" ng-model="refund_form.Amount")
                            h3 Reference Details
                            .form-group
                                label Ref number
                                input(type="text" ng-model="refund_form.refnumber")
                    .row
                        a(href="" ng-click="refundSubmit()").generate_results Authorize
                // VOID FORM
                form.form-inline.virtual_form(name="void_form" ng-show="authType == 'Void'" novalidate)
                    h2.stand Void Form
                    .row.virtual_content
                        .col-md-6
                            h3 Transaction number
                            .form-group
                                label Transaction number:
                                input(type="text" ng-model="refund_form.transNumber")
                            .form-group
                                label Authorization code:
                                input(type="text" ng-model="refund_form.AuthCode")
                        .col-md-6
                            h3 Reference Details
                            .form-group
                                label Ref number:
                                input(type="text" ng-model="refund_form.refnumber")
                    .row
                        a(href="" ng-click="voidSubmit()").generate_results Authorize


// COMMUNICATION DETAIL
.panel.panel-default.comm-panel(ng-controller="CommCtrl")
    .panel-heading
        .row
            .col-md-2
                h2.panel-title
                  i.fa.fa-icon
                  | Communication Details:
        //.row
            .col-md-2
                h2.panel-title
                  i.fa.fa-icon
                  | Request:
                  span(ng-class="(reqStatus == 0) ? 'success' : 'failed'") {{RequestTxt}}
            .col-md-8
                h2.panel-title
                  i.fa.fa-icon
                  | Response:
                  span(ng-class="(repStatus == 0) ? 'success' : 'failed'") {{ResponseTxt}}

            .col-md-2
                a.def_btn.wet_asphalt_btn.float-right(href="" ng-click="isCollapsed = !isCollapsed")
                    i.fa.fa-eye
                    span Communication Details


    .panel-body.comm-details
        .row.request_row(ng-class="(reqStatus == 0) ? 'success-bg' : 'failed-bg'")
            .col-md-1
                h2 Request:
                p {{RequestTxt}}
            .col-md-11
                p {{Request}}
        .row.response_row(ng-class="(repStatus == 0) ? 'success-bg' : 'failed-bg'")
            .col-md-1
                h2 Response:
                p {{ResponseTxt}}
            .col-md-11
                p {{Response}}