script(type="text/ng-template" id="merchantCreateContent.html")
    .default_modal
        .modal-header
            h3.modal-title
                span.subtle Create Merchant Group: 
            button.close(type="button" ng-click="cancel()") x


        .modal-body.align-right
            form.form(ng-submit="submit()" name="merchantCreateForm" novalidate ng-class="")
                .row
                    .col-md-4
                        label Merchant Name
                    .col-md-6
                        input.form-control(type="text" placeholder="Enter Custom Group Name" id="merchantCreateGroupName" ng-model="merchantCreateGroupName" required="")
                .row
                    .col-md-4
                        label Currency
                    .col-md-6
                        select.form-control(name="currency" id="merchantCreateGroupCurrency" ng-model="merchantCreateGroupCurrency" ng-change="selectUpdate(merchantCreateGroupCurrency)" ng-options="obj.Id as obj.Name for obj in currencies" required="")

                //.row
                    .col-md-4
                        label Email For Notification
                    .col-md-6
                        input.form-control(type="text" placeholder="Enter Emails" id="merchantCreateGroupEmail" ng-model="merchantCreateGroupEmail" required="")

                .row.errorMsg
                    p {{errorMsg}}

                .userCreateSuccess
                    p Merchant Account Created




        .modal-footer
            a.row_btn.create_btn(href="" ng-click="submitCreateMerchantGroup(merchantCreateForm)" tooltip="Create Merchant")
                    i.fa.fa-plus
                    span Create Merchant
            a.row_btn.cancel_btn(href="" ng-click="cancel()" tooltip="Cancel")
                    i.fa.fa-sign-out
                    span Cancel                