script(type="text/ng-template" id="searchResultsRefundModal.html")
    .modal-header
      h3.modal-title
        span.subtle Refund Transaction:
        |  {{trans.TransactionId}} 
        span.subtle Name:
        |  {{trans.FirstName}} {{trans.LastName}}
      button.close(type='button', ng-click='cancelRefund()') x

    .modal-body
      table.table-refund-input
        tbody
          tr
            td
              h3.refund-panel Refund Amount: 
            td
              input#refundAmount.form-control.amount_input(type='text', placeholder='Enter Refund Amout', required='')
            td {{trans.Currency}}
      table.table.table-responsive
        h3 Transaction Details
        thead
          tr
            th Transaction Id
            th CRM MID
            th Amount
            th Currency
            th First Name
            th Last Name
          thead
            tbody
              tr
                td {{trans.TransactionId}}
                td {{trans.MidDisplayName}}
                td {{trans.Amount | currency}}
                td {{trans.Currency}}
                td {{trans.FirstName}}
                td {{trans.LastName}}
      .MID_feedback
        p.p-title Are You Sure You Want To Refund?
        h3 {{trans.Currency}} {{refundAmount | currency}}
        a.confirm_btn(href='', ng-click='confirmRefund()') Confirm

    .userCreateSuccess
      p Refund Successful
    .userError
      p Refund Failed

    .modal-footer
        a.row_btn.action_btn(href='', ng-click='processRefund(trans.Amount,trans.TransactionId)')
            i.fa.fa-money
            span Refund
        a.row_btn.cancel_btn(href="" ng-click="cancel()")
            i.fa.fa-sign-out
            span Exit