script(type="text/ng-template" id="subscriptionCreateModal.html")
    .midCreateEditModal.midCreateModal
        .modal-header
            h3 Create New Subscription
            button.close(type="button" ng-click="cancel()") X 
        .modal-body
            wizard(on-finish="finishedWizard()")
                wz-step(title="1. Subscription Config")
                    form.midCreateModal.stepOne(name="subscriptionFormProfile" novalidate)
                        .row
                            .col-md-4
                                label *Subscription Name:
                            .col-md-6
                                input.form-control(required="" ng-model="subscriptionFormName" id="subscriptionFormName" type="text"  placeholder="Enter subscription name  (Required)"  tooltip="Select a name to identify this subscription. (Required)" tooltip-placement="top")

                        .row
                            .col-md-4
                                label *Subscription Start Date: 
                            .col-md-2
                                div.daterangePick(ng-controller='subscriptionStartDateCtrl' tooltip="Select the date to start this subscription on.")
                                    input.form-control(type='text', id='subscriptionDate' ng-model='subscriptionDate.fromDate', datepicker-popup='{{format}}', is-open='opened', min-date='"minDate"', max-date='"maxDate"', datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='false', close-text='Close', placeholder='{{fromDate | date:"MM/dd/yyyy"}}')
                                    span.input-group-btn
                                        button.btn.btn-default(type='button', ng-click='open($event)' style="width:70px;" )
                                            i.glyphicon.glyphicon-calendar
                        .row
                            .col-md-4
                                label *Payment Frequency: 
                            .col-md-3
                                select.form-control(required="" id="subscriptionPayFrequency" ng-model="subscriptionPayFrequency" tooltip="Select the date to start this subscription on.")
                                    option(value="" selected) Select below
                                    option(value="100") Every week
                                    option(value="200") Every 2 weeks
                                    option(value="300") Every 3 weeks
                                    option(value="001") Once per month
                                    option(value="002") Every 2 months
                                    option(value="003") Every 3 months
                                    option(value="004") Quarterly
                                    option(value="005") Every 5 months
                                    option(value="006") Every 6 months
                                    option(value="007") Every 7 months
                                    option(value="008") Every 8 months
                                    option(value="009") Every 9 months
                                    option(value="010") Every 10 months
                                    option(value="011") Every 11 months
                                    option(value="012") Once per year

                            .col-md-3
                                input.form-control(required="" id="subscriptionRecurCount" ng-model="subscriptionRecurCount" type="number" placeholder="Re-occur Count" tooltip="Enter the value of how many times the subscription will re-occur.  Leave blank for infinity." tooltip-placement="top")


                        .row
                            .col-md-4
                                label *Recurring Amount:
                            .col-md-6  
                                input.form-control(required="" ng-model="subscriptionFormAmount" id="subscriptionFormAmount" type="number" tooltip-placement="top" placeholder="Enter value. (Required)" tooltip="Enter value for recurring amount (Required)")                                   

                        .row.modalCenterTxt
                            p 
                                label(tooltip="Select allowed payment types.  (Required)" tooltip-placement="top") *Payment Types: (Required)
                        .row.paymentTypeDiv
                            .col-md-3
                                input(name="cardCheckbox" type="checkbox" value="1")
                                i.fa.fa-cc-amex.fa-2x
                            .col-md-3
                                input(name="cardCheckbox" type="checkbox" value="2")
                                i.fa.fa-cc-visa.fa-2x
                            .col-md-3
                                input(name="cardCheckbox" type="checkbox" value="3")
                                i.fa.fa-cc-mastercard.fa-2x
                            .col-md-3
                                input(name="cardCheckbox" type="checkbox" value="4")
                                i.fa.fa-cc-discover.fa-2x

                        .row.modalCenterTxt
                            p 
                                label(tooltip="Select allowed currency types.  (Required)" tooltip-placement="top") *Currency Types: (Required)
                        .row.currencyTypeDiv
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="12")
                                span USD - United States Dollar
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="3")
                                span AUD - Australia Dollar
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="10")
                                span BRL -Brazil Real
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="4")
                                span CAD - Canada Dollar
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="5")
                                span DKK - Denmark Krone
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="2")
                                span EUR -Euro Member 
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="1")
                                span GBP - UK Pound
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="7")
                                span JPY - Japan Yen
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="8")
                                span NOK - Norway Krone
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="6")
                                span NZD - New Zealand Dollar
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="9")
                                span SEK - Sweden Krona
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="11")
                                span SGD - Singapore Dollar

                        .row
                            .col-md-6.text-left
                                a.row_btn.disabled_btn(tooltip="Previous selection not available in first step" tooltip-placement="top")
                                    i.fa.fa-arrow-left
                                    span Previous

                            .col-md-6.text-right
                                a.row_btn.emerald_btn(href="" type="submit" ng-click="subscriptionCreateConfig(subscriptionFormProfile)")
                                    span Next
                                    i.fa.fa-arrow-right

                        .row.errorMsg
                            p {{errorMsg}}

                wz-step.stepTwo(title="2. Processing for Subscription")
                    form.midCreateModal.stepOne(name="subscriptionSelProcessingForm" novalidate)
                        .row
                            .col-md-4
                                label *Select MID:
                            .col-md-6
                                select.form-control(required="" ng-model="currentProcessor" ng-change="selectProcessingType(currentProcessor)" ng-options="obj.Id as obj.DisplayName for obj in subscriptionProcessors.AvailableMids")
                                    option(value="") Select 

                    .row
                        .col-md-6.text-left
                            a.row_btn.emerald_btn(href="" type="submit" wz-previous="")
                                i.fa.fa-arrow-left
                                span Previous

                        .col-md-6.text-right
                            a.row_btn.emerald_btn(href="" type="submit" ng-click="subscriptionSelectProcessing(subscriptionSelProcessingForm)")
                                span Next
                                i.fa.fa-arrow-right

                    .row.errorMsg
                        p {{errorMsg}}



                wz-step.stepTwo(title="3. Decline Rules")
                    form.midCreateModal.stepOne(name="subscriptionEditDeclineForm" novalidate)
                        .row
                            .col-md-3
                                label *Decline Rules for Credit Cards:
                            .col-md-4
                                select.form-control(required="" ng-model="subscriptionCCAttempt" id="subscriptionCCAttempt" tooltip="Select the number of attempts once a credit card has been declined. (Required) " tooltip-placement="top")
                                    option(value="") Select Attempts (Credit Card)
                                    option(value="1") Attempt 1 time
                                    option(value="2") Attempt 2 times
                                    option(value="3") Attempt 3 times
                                    option(value="4") Attempt 4 times
                                    option(value="5") Attempt 5 times
                            .col-md-4
                                select.form-control(required="" ng-model="subscriptionCCAttemptLapse" id="subscriptionCCAttemptLapse" tooltip="Select the number of days between each attempt. (Required) " tooltip-placement="top")
                                    option(value="") Select lapse time for attempts
                                    option(value="1") 1 days lapse
                                    option(value="2") 2 days lapse
                                    option(value="3") 3 days lapse
                                    option(value="4") 4 days lapse
                                    option(value="5") 5 days lapse
                                    option(value="6") 6 days lapse
                                    option(value="7") 7 days lapse
                                    option(value="8") 8 days lapse
                                    option(value="9") 9 days lapse
                                    option(value="10") 10 days lapse
                                    option(value="11") 11 days lapse
                                    option(value="12") 12 days lapse
                                    option(value="13") 13 days lapse
                                    option(value="14") 14 days lapse
                                    option(value="15") 15 days lapse

                        .row
                            .col-md-3
                                label *Decline Rules for ACH:
                            .col-md-4
                                select.form-control(required="" ng-model="subscriptionACHAttempt" id="subscriptionACHAttempt" tooltip="Select the number of attempts once a ACH transaction has been declined. (Required) " tooltip-placement="top")
                                    option(value="") Select attempts (ACH)
                                    option(value="1") Attempt 1 time
                                    option(value="2") Attempt 2 times
                                    option(value="3") Attempt 3 times
                                    option(value="4") Attempt 4 times
                                    option(value="5") Attempt 5 times
                            .col-md-4
                                select.form-control(required="" ng-model="subscriptionACHAttemptLapse" id="subscriptionACHAttemptLapse" tooltip="Select the number of days between each attempt. (Required) " tooltip-placement="top")
                                    option(value="") Select lapse time for attempts
                                    option(value="1") 1 day lapse
                                    option(value="2") 2 days lapse
                                    option(value="3") 3 days lapse
                                    option(value="4") 4 days lapse
                                    option(value="5") 5 days lapse
                                    option(value="6") 6 days lapse
                                    option(value="7") 7 days lapse
                                    option(value="8") 8 days lapse
                                    option(value="9") 9 days lapse
                                    option(value="10") 10 days lapse
                                    option(value="11") 11 days lapse
                                    option(value="12") 12 days lapse
                                    option(value="13") 13 days lapse
                                    option(value="14") 14 days lapse
                                    option(value="15") 15 days lapse


 
                        .row
                            .col-md-3
                                label *Declined Email Notification:
                            .col-md-8
                                input.form-control(required="" ng-model="subscriptionDeclinedEmail" id="subscriptionDeclinedEmail" type="text"  placeholder="Enter Email. (Required)"  tooltip="Enter email to receive notification of failed transactions. (Required)" tooltip-placement="top")


                        .row
                            .col-md-6.text-left
                                a.row_btn.emerald_btn(href="" type="submit" wz-previous="")
                                    i.fa.fa-arrow-left
                                    span Previous

                            .col-md-6.text-right
                                a.row_btn.emerald_btn(href="" type="submit" ng-click="subscriptionDeclineRules(subscriptionEditDeclineForm)")
                                    span Finish
                                    i.fa.fa-arrow-right

                        .row.errorMsg
                            p {{errorMsg}}

                        .row.successMsg
                            p {{successMsg}}


        .modal-footer.action_group
            a.row_btn.cancel_btn(href="" ng-click="cancel()")
                i.fa.fa-sign-out
                span Exit
