script(type="text/ng-template" id="subscriptionCreateModal.html")
    .midCreateEditModal.midCreateModal
        .modal-header
            h3 Create New Subscription
            button.close(type="button" ng-click="cancel()") X 
        .modal-body
            wizard(on-finish="finishedWizard()")
                wz-step(title="1. Subscription Config")                          
                    form.midCreateModal.stepOne(name="subscriptionFormProfile" novalidate)
                        .row
                            .col-md-4
                                label *Subscription Name:
                            .col-md-6
                                input.form-control(required="" ng-model="subscriptionFormName" id="subscriptionFormName" type="text"  placeholder="Enter subscription name  (Required)"  tooltip="Select a name to identify this subscription. (Required)" tooltip-placement="top")

                        .row
                            .col-md-4
                                label Recurring Type:
                            .col-md-3
                                select.form-control(id="subscriptionFormRecurringType" tooltip="Select type of recurring cycle (Required) " tooltip-placement="top")
                                    option(value="1") Calendar
                                    option(value="2") Num Days
                            .col-md-3
                                input.form-control(id="subscriptionFormDateVal" type="number" placeholder="value" tooltip="Enter value (Required)" tooltip-placement="top")


                        .row
                            .col-md-4
                                label *Recurring Amount:
                            .col-md-6  
                                input.form-control(required="" ng-model="subscriptionFormAmount" id="subscriptionFormAmount" type="number" tooltip-placement="top" placeholder="Enter value. (Required)" tooltip="Enter value for recurring amount (Required)")



                        .row.modalCenterTxt
                            p 
                                label(tooltip="Select allowed payment types.  (Required)" tooltip-placement="top") *Payment Types: (Required)
                        .row.paymentTypeDiv
                            .col-md-3
                                input(name="cardCheckbox" type="checkbox" value="1")
                                i.fa.fa-cc-amex.fa-2x
                            .col-md-3
                                input(name="cardCheckbox" type="checkbox" value="2")
                                i.fa.fa-cc-visa.fa-2x
                            .col-md-3
                                input(name="cardCheckbox" type="checkbox" value="3")
                                i.fa.fa-cc-mastercard.fa-2x
                            .col-md-3
                                input(name="cardCheckbox" type="checkbox" value="4")
                                i.fa.fa-cc-discover.fa-2x

                        .row.modalCenterTxt
                            p 
                                label(tooltip="Select allowed currency types.  (Required)" tooltip-placement="top") *Currency Types: (Required)
                        .row.currencyTypeDiv
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="12")
                                span USD - United States Dollar
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="3")
                                span AUD - Australia Dollar
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="10")
                                span BRL -Brazil Real
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="4")
                                span CAD - Canada Dollar
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="5")
                                span DKK - Denmark Krone
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="2")
                                span EUR -Euro Member 
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="1")
                                span GBP - UK Pound
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="7")
                                span JPY - Japan Yen
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="8")
                                span NOK - Norway Krone
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="6")
                                span NZD - New Zealand Dollar
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="9")
                                span SEK - Sweden Krona
                            .col-md-3
                                input(name="curTypeCheckbox" type="checkbox" value="11")
                                span SGD - Singapore Dollar

                        .row
                            .col-md-6.text-left
                                a.row_btn.disabled_btn(tooltip="Previous selection not available in first step" tooltip-placement="top")
                                    i.fa.fa-arrow-left
                                    span Previous

                            .col-md-6.text-right
                                a.row_btn.emerald_btn(href="" type="submit" ng-click="subscriptionCreateConfig(subscriptionFormProfile)")
                                    span Next
                                    i.fa.fa-arrow-right

                        .row.errorMsg
                            p {{errorMsg}}

                wz-step.stepTwo(title="2. Processing for Subscription")
                    form.midCreateModal.stepOne(name="subscriptionSelProcessingForm" novalidate)
                        .row
                            .col-md-4
                                label *Processing Type:
                            .col-md-6
                                select.form-control(ng-model="subscriptionSelProcessingType" id="subscriptionSelProcessingType" tooltip="Please select which MID Group or MID that will process the recurring transactions for this plan. (Required)" tooltip-placement="top")
                                    option(value="") Select 
                                    option(value="1") MID Group
                                    option(value="2") MID
                        .row(ng-if="subscriptionSelProcessingType == 1")
                            .col-md-4
                                label *Select MID Group:
                            .col-md-6
                                select.form-control(required="" ng-model="currentProcessor" ng-change="selectProcessingType(currentProcessor)" ng-options="obj.Id as obj.DisplayName for obj in subscriptionProcessors.AvailableMidGroups")
                                    option(value="") Select 
                        .row(ng-if="subscriptionSelProcessingType == 2")
                            .col-md-4
                                label *Select MID:
                            .col-md-6
                                select.form-control(required="" ng-model="currentProcessor" ng-change="selectProcessingType(currentProcessor)" ng-options="obj.Id as obj.DisplayName for obj in subscriptionProcessors.AvailableMids")
                                    option(value="") Select 

                    .row
                        .col-md-6.text-left
                            a.row_btn.emerald_btn(href="" type="submit" wz-previous="")
                                i.fa.fa-arrow-left
                                span Previous

                        .col-md-6.text-right
                            a.row_btn.emerald_btn(href="" type="submit" ng-click="subscriptionSelectProcessing(subscriptionSelProcessingForm)")
                                span Next
                                i.fa.fa-arrow-right

                    .row.errorMsg
                        p {{errorMsg}}



                wz-step.stepTwo(title="3. Decline Rules")
                    form.midCreateModal.stepOne(name="subscriptionDeclineForm" novalidate)
                        .row
                            form
                                .row
                                    p Decline Rules for Credit Cards:
                                .row
                                    .col-md-6
                                        select.form-control(required="" id="subscriptionCCAttempt" tooltip="Select the number of attempts once a credit card has been declined. (Required) " tooltip-placement="top")
                                            option(value="") Select Attempts (Credit Card)
                                            option(value="1") Attempt 1 time
                                            option(value="2") Attempt 2 times
                                            option(value="3") Attempt 3 times
                                            option(value="4") Attempt 4 times
                                            option(value="5") Attempt 5 times
                                    .col-md-6
                                        select.form-control(required="" id="subscriptionCCAttemptLapse" tooltip="Select the number of days between each attempt. (Required) " tooltip-placement="top")
                                            option(value="") Select lapse time for attempts
                                            option(value="1") 1 days lapse
                                            option(value="2") 2 days lapse
                                            option(value="3") 3 days lapse
                                            option(value="4") 4 days lapse
                                            option(value="5") 5 days lapse
                                            option(value="6") 6 days lapse
                                            option(value="7") 7 days lapse
                                            option(value="8") 8 days lapse
                                            option(value="9") 9 days lapse
                                            option(value="10") 10 days lapse
                                            option(value="11") 11 days lapse
                                            option(value="12") 12 days lapse
                                            option(value="13") 13 days lapse
                                            option(value="14") 14 days lapse
                                            option(value="15") 15 days lapse


                                .row
                                    p Decline Rules for ACH:
                                .row
                                    .col-md-6
                                        select.form-control(required="" id="subscriptionACHAttempt" tooltip="Select the number of attempts once a ACH transaction has been declined. (Required) " tooltip-placement="top")
                                            option(value="") Select attempts (ACH)
                                            option(value="1") Attempt 1 time
                                            option(value="2") Attempt 2 times
                                            option(value="3") Attempt 3 times
                                            option(value="4") Attempt 4 times
                                            option(value="5") Attempt 5 times
                                    .col-md-6
                                        select.form-control(required="" id="subscriptionACHAttemptLapse" tooltip="Select the number of days between each attempt. (Required) " tooltip-placement="top")
                                            option(value="") Select lapse time for attempts
                                            option(value="1") 1 day lapse
                                            option(value="2") 2 days lapse
                                            option(value="3") 3 days lapse
                                            option(value="4") 4 days lapse
                                            option(value="5") 5 days lapse
                                            option(value="6") 6 days lapse
                                            option(value="7") 7 days lapse
                                            option(value="8") 8 days lapse
                                            option(value="9") 9 days lapse
                                            option(value="10") 10 days lapse
                                            option(value="11") 11 days lapse
                                            option(value="12") 12 days lapse
                                            option(value="13") 13 days lapse
                                            option(value="14") 14 days lapse
                                            option(value="15") 15 days lapse
                                .row
                                    p Declined Email Notification:
                                .row
                                    input.form-control(required="" ng-model="subscriptionDeclinedEmail" id="subscriptionDeclinedEmail" type="text"  placeholder="Enter Email. (Required)"  tooltip="Enter email to receive notification of failed transactions. (Required)" tooltip-placement="top")


                        .row
                            .col-md-6.text-left
                                a.row_btn.emerald_btn(href="" type="submit" wz-previous="")
                                    i.fa.fa-arrow-left
                                    span Previous

                            .col-md-6.text-right
                                a.row_btn.emerald_btn(href="" type="submit" ng-click="subscriptionDeclineRules(subscriptionDeclineForm)")
                                    span Next
                                    i.fa.fa-arrow-right

                        .row.errorMsg
                            p {{errorMsg}}




        .modal-footer.action_group
            a.row_btn.cancel_btn(href="" ng-click="cancel()")
                i.fa.fa-sign-out
                span Exit
