script(type="text/ng-template" id="subscriptionEditContent.html")
    .midCreateEditModal.midCreateModal
        .modal-header
            h3 Create New Subscription
            button.close(type="button" ng-click="cancel()") X 
        .modal-body
            wizard(on-finish="finishedWizard()")
                wz-step(title="1. Subscription Config")
                    form.midCreateModal.stepOne(name="subscriptionFormEditProfile" novalidate)
                        .row
                            .col-md-4
                                label *Subscription Name:
                            .col-md-6
                                input.form-control(required="" id="subscriptionFormName" ng-model="subscriptionFormName" type="text"  placeholder="Enter subscription name  (Required)"  tooltip="Select a name to identify this subscription. (Required)" tooltip-placement="top")

                        .row
                            .col-md-4
                                label *Recurring Type:
                            .col-md-3
                                select.form-control(id="subscriptionFormRecurringType" ng-model="subscriptionFormRecurringType" tooltip="Select type of recurring cycle (Required) " tooltip-placement="top")
                                    option(value="1") Calendar
                                    option(value="2") Num Days
                            .col-md-3(ng-if="subscriptionFormRecurringType == 1")
                                select.form-control(required="" id="subscriptionFormDateVal" ng-model="subscriptionFormCalDate" tooltip="Select the day of the month for the recurring charge to occur. If 29, 30 31 is not availble for certain months the charge will occur on the last day of the month. (Required) " tooltip-placement="top")
                                    option(value="") Select Monthly Date
                                    option(value="1") Every 1st
                                    option(value="2") Every 2nd
                                    option(value="3") Every 3rd
                                    option(value="4") Every 4th
                                    option(value="5") Every 5th
                                    option(value="6") Every 6th
                                    option(value="7") Every 7th
                                    option(value="8") Every 8th
                                    option(value="9") Every 9th
                                    option(value="10") Every 10th
                                    option(value="11") Every 11th
                                    option(value="12") Every 12th
                                    option(value="13") Every 13th
                                    option(value="14") Every 14th
                                    option(value="15") Every 15th
                                    option(value="16") Every 16th
                                    option(value="17") Every 17th
                                    option(value="18") Every 18th
                                    option(value="19") Every 19th
                                    option(value="20") Every 10th
                                    option(value="21") Every 21th
                                    option(value="22") Every 22th
                                    option(value="23") Every 23th
                                    option(value="24") Every 24th
                                    option(value="25") Every 25th
                                    option(value="26") Every 26th
                                    option(value="27") Every 27th
                                    option(value="28") Every 28th
                                    option(value="29") Every 29th
                                    option(value="30") Every 30th
                                    option(value="31") Every 31st

                            .col-md-3(ng-if="subscriptionFormRecurringType == 2")
                                input.form-control(id="subscriptionFormDateVal" type="number" placeholder="value" tooltip="Enter value (Required)" tooltip-placement="top")


                        .row
                            .col-md-4
                                label *Recurring Amount:
                            .col-md-6  
                                input.form-control(required="" ng-model="subscriptionFormAmount" id="subscriptionFormAmount" type="number" tooltip-placement="top" placeholder="Enter value. (Required)" tooltip="Enter value for recurring amount (Required)")



                        .row.modalCenterTxt
                            p 
                                label(tooltip="Select allowed payment types.  (Required)" tooltip-placement="top") *Payment Types: (Required)
                        .row.paymentTypeDiv
                            .col-md-3
                                input(ng-model="AMEX" name="cardCheckbox" ng-change="paymentChange()" type="checkbox" value="1")
                                i.fa.fa-cc-amex.fa-2x
                            .col-md-3
                                input(ng-model="Visa" name="cardCheckbox" ng-change="paymentChange()" type="checkbox" value="2")
                                i.fa.fa-cc-visa.fa-2x
                            .col-md-3
                                input(ng-model="Mastercard" name="cardCheckbox" ng-change="paymentChange()" type="checkbox" value="3")
                                i.fa.fa-cc-mastercard.fa-2x
                            .col-md-3
                                input(ng-model="Discover" name="cardCheckbox" ng-change="paymentChange()" type="checkbox" value="4")
                                i.fa.fa-cc-discover.fa-2x

                        .row.modalCenterTxt
                            p 
                                label(tooltip="Select allowed currency types.  (Required)" tooltip-placement="top") *Currency Types: (Required)
                        .row.currencyTypeDiv
                            .col-md-3
                                input(ng-model="USD" name="curTypeCheckbox" ng-change="currencyChange()" type="checkbox" value="12")
                                span USD - United States Dollar
                            .col-md-3
                                input(ng-model="AUD" name="curTypeCheckbox" ng-change="currencyChange()" type="checkbox" value="3")
                                span AUD - Australia Dollar
                            .col-md-3
                                input(ng-model="BRL" name="curTypeCheckbox" ng-change="currencyChange()" type="checkbox" value="10")
                                span BRL -Brazil Real
                            .col-md-3
                                input(ng-model="CAD" name="curTypeCheckbox" ng-change="currencyChange()" type="checkbox" value="4")
                                span CAD - Canada Dollar
                            .col-md-3
                                input(ng-model="DKK" name="curTypeCheckbox" ng-change="currencyChange()" type="checkbox" value="5")
                                span DKK - Denmark Krone
                            .col-md-3
                                input(ng-model="EUR" name="curTypeCheckbox" ng-change="currencyChange()" type="checkbox" value="2")
                                span EUR -Euro Member 
                            .col-md-3
                                input(ng-model="GBP" name="curTypeCheckbox" ng-change="currencyChange()" type="checkbox" value="1")
                                span GBP - UK Pound
                            .col-md-3
                                input(ng-model="JPY" name="curTypeCheckbox" ng-change="currencyChange()" type="checkbox" value="7")
                                span JPY - Japan Yen
                            .col-md-3
                                input(ng-model="NOK" name="curTypeCheckbox" ng-change="currencyChange()" type="checkbox" value="8")
                                span NOK - Norway Krone
                            .col-md-3
                                input(ng-model="NZD" name="curTypeCheckbox" ng-change="currencyChange()" type="checkbox" value="6")
                                span NZD - New Zealand Dollar
                            .col-md-3
                                input(ng-model="SEK" name="curTypeCheckbox" ng-change="currencyChange()" type="checkbox" value="9")
                                span SEK - Sweden Krona
                            .col-md-3
                                input(ng-model="SGD" name="curTypeCheckbox" ng-change="currencyChange()" type="checkbox" value="11")
                                span SGD - Singapore Dollar

                        .row
                            .col-md-6.text-left
                                a.row_btn.disabled_btn(tooltip="Previous selection not available in first step" tooltip-placement="top")
                                    i.fa.fa-arrow-left
                                    span Previous

                            .col-md-6.text-right
                                a.row_btn.emerald_btn(href="" type="submit" ng-click="subscriptionEditConfig(subscriptionFormEditProfile)")
                                    span Next
                                    i.fa.fa-arrow-right

                        .row.errorMsg
                            p {{errorMsg}}

                wz-step.stepTwo(title="2. Processing for Subscription")
                    form.midCreateModal.stepOne(name="subscriptionEditProcessingForm" novalidate)
                        .row
                            .col-md-4
                                label *Select MID:
                            .col-md-6
                                select.form-control(required="" id="subscriptionMid" ng-model="subscriptionSelProcessingMid" ng-change="selectProcessingType(subscriptionSelProcessingMid)" ng-options="obj.Id as obj.DisplayName for obj in subscriptionProcessors.AvailableMids")
                                    option(value="") Select 

                    .row
                        .col-md-6.text-left
                            a.row_btn.emerald_btn(href="" type="submit" wz-previous="")
                                i.fa.fa-arrow-left
                                span Previous

                        .col-md-6.text-right
                            a.row_btn.emerald_btn(href="" type="submit" ng-click="subscriptionEditProcessing(subscriptionEditProcessingForm)")
                                span Next
                                i.fa.fa-arrow-right

                    .row.errorMsg
                        p {{errorMsg}}



                wz-step.stepTwo(title="3. Decline Rules")
                    form.midCreateModal.stepOne(name="subscriptionEditDeclineForm" novalidate)
                        .row
                            .col-md-3
                                label *Decline Rules for Credit Cards:
                            .col-md-4
                                select.form-control(required="" id="subscriptionCCAttempt" tooltip="Select the number of attempts once a credit card has been declined. (Required) " tooltip-placement="top")
                                    option(value="") Select Attempts (Credit Card)
                                    option(value="1") Attempt 1 time
                                    option(value="2") Attempt 2 times
                                    option(value="3") Attempt 3 times
                                    option(value="4") Attempt 4 times
                                    option(value="5") Attempt 5 times
                            .col-md-4
                                select.form-control(required="" id="subscriptionCCAttemptLapse" tooltip="Select the number of days between each attempt. (Required) " tooltip-placement="top")
                                    option(value="") Select lapse time for attempts
                                    option(value="1") 1 days lapse
                                    option(value="2") 2 days lapse
                                    option(value="3") 3 days lapse
                                    option(value="4") 4 days lapse
                                    option(value="5") 5 days lapse
                                    option(value="6") 6 days lapse
                                    option(value="7") 7 days lapse
                                    option(value="8") 8 days lapse
                                    option(value="9") 9 days lapse
                                    option(value="10") 10 days lapse
                                    option(value="11") 11 days lapse
                                    option(value="12") 12 days lapse
                                    option(value="13") 13 days lapse
                                    option(value="14") 14 days lapse
                                    option(value="15") 15 days lapse

                        .row
                            .col-md-3
                                label *Decline Rules for ACH:
                            .col-md-4
                                select.form-control(required="" id="subscriptionACHAttempt" tooltip="Select the number of attempts once a ACH transaction has been declined. (Required) " tooltip-placement="top")
                                    option(value="") Select attempts (ACH)
                                    option(value="1") Attempt 1 time
                                    option(value="2") Attempt 2 times
                                    option(value="3") Attempt 3 times
                                    option(value="4") Attempt 4 times
                                    option(value="5") Attempt 5 times
                            .col-md-4
                                select.form-control(required="" id="subscriptionACHAttemptLapse" tooltip="Select the number of days between each attempt. (Required) " tooltip-placement="top")
                                    option(value="") Select lapse time for attempts
                                    option(value="1") 1 day lapse
                                    option(value="2") 2 days lapse
                                    option(value="3") 3 days lapse
                                    option(value="4") 4 days lapse
                                    option(value="5") 5 days lapse
                                    option(value="6") 6 days lapse
                                    option(value="7") 7 days lapse
                                    option(value="8") 8 days lapse
                                    option(value="9") 9 days lapse
                                    option(value="10") 10 days lapse
                                    option(value="11") 11 days lapse
                                    option(value="12") 12 days lapse
                                    option(value="13") 13 days lapse
                                    option(value="14") 14 days lapse
                                    option(value="15") 15 days lapse



                        .row
                            .col-md-3
                                label *Declined Email Notification:
                            .col-md-8
                                input.form-control(required="" ng-model="subscriptionEditDeclineEmail" id="subscriptionEditDeclineEmail" type="text"  placeholder="Enter Email. (Required)"  tooltip="Enter email to receive notification of failed transactions. (Required)" tooltip-placement="top")


                        .row
                            .col-md-6.text-left
                                a.row_btn.emerald_btn(href="" type="submit" wz-previous="")
                                    i.fa.fa-arrow-left
                                    span Previous

                            .col-md-6.text-right
                                a.row_btn.emerald_btn(href="" type="submit" ng-click="subscriptionEditDeclineRules(subscriptionEditDeclineForm)")
                                    span Finish
                                    i.fa.fa-arrow-right

                        .row.errorMsg
                            p {{errorMsg}}

                        .row.successMsg
                            p {{successMsg}}


        .modal-footer.action_group
            a.row_btn.cancel_btn(href="" ng-click="cancel()")
                i.fa.fa-sign-out
                span Exit




