.row.login_panel.login_dash
    .text-center.fa-2x.login_box
        form.form(ng-submit="submit()" name="passwordForm" novalidate)
            p.login-logo 
                 img(ng-src="../../images/{{logoName}}.png")
            p User name: {{userName}}
            p Reset Password
            


            input.form-control(type="password" placeholder="Enter New Password" id="newPass" ng-model="user.newPass" required="" autofocus="" autocomplete="off")
            
            input.form-control(type="password" placeholder="Confirm New Password" ng-model="user.confirmPass" required="")
            
            button.btn.btn-primary.form-control(type="submit") Reset Password

        .row.user_help
            p {{errorMsg}}

           
    section.copyright
        p copyright &copy; {{date | date:'yyyy'}} Trangle Holdings Limited d/b/a
        p Triangle Payments. All Rights Reserved.