div(id="wrapper")
            div#sidebar-wrapper
                ul.sidebar-nav
                    li.sidebar-brand
                        p.brand
                            img(ng-src="../../../images/{{logoName}}.png")
                    li 
                        a(ng-class="{{'app.search' | isState }}" ui-sref=".search" ng-click="checkState()") 
                            i.fa.fa-icon.fa-search
                            span Search
                    li 
                        a(href="" ng-click="goTo('app.merchants.mids');checkState(0)" class="{{merchantParent}}")
                            i.fa.fa-bank
                            span Merchant Accounts
                        ul.nav_subNav(collapse="isCollapsed[0]")
                            li
                                a(ng-class="noteState('mids')" ui-sref="app.merchants.mids")
                                    i.fa.fa-cog
                                    span Manage MIDs
                            li
                                a(ng-class="noteState('groups')" ui-sref="app.merchants.groups")
                                    i.fa.fa-cogs
                                    span Manage MID Groups


                    li
                        a(href="" ng-click="goTo('app.recurring_payments.subscriptions');checkState(1);Subcriptions()" class="{{recurParent}}")
                            i.fa.fa-icon.fa-refresh
                            span Recurring Payments
                        ul.nav_subNav(collapse="isCollapsed[1]")
                            li
                                a(ng-class="noteState('subscriptions')" ui-sref="app.recurring_payments.subscriptions")
                                    i.fa.fa-tasks
                                    span Subscriptions
                            li
                                a(ng-class="noteState('subscribers')" ui-sref="app.recurring_payments.subscribers")
                                    i.fa.fa-user
                                    span Subscribers
                            li
                                a(ng-class="noteState('reports')" ui-sref="app.recurring_payments.subscriptionReports")
                                    i.fa.fa-area-chart
                                    span Subscriptions Reports

                            
                    li 
                        a(ng-class="{{'app.virtual_terminal' | isState }}" ui-sref=".virtual_terminal" ng-click="checkState()") 
                            i.fa.fa-icon.fa-terminal
                            span Virtual Terminal


                    //li(data-ng-hide="!authentication.isAuth")
                        a(ng-class="{{'app.merchant_profile' | isState }}" ui-sref=".merchant_profile" ng-click="checkState()")
                            i.fa.fa-icon.fa-wrench
                            span Merchant Profle

                    li(data-ng-hide="!authentication.isAuth")
                        a(ng-class="{{'app.usermanager' | isState }}" ui-sref=".usermanager" ng-click="checkState()")
                            i.fa.fa-icon.fa-user
                            span User Management



            div#page-content-wrapper
               .container-fluid
                    header.dash_header
                        .row
                            .col-sm-4
                                a(href="",id="menu-toggle",class="")
                                    i.fa.fa-icon.fa-align-left
                                    //span Collapse
                            .col-sm-8.top-control(ng-controller="loginCtrl")
                                span(ng-cloack="") Welcome to TriPayments, {{authentication.userName}}  
                               
                                a(href="" ng-click="logOut()" tooltip="log out {{currentUser.name}}" tooltip-placement="left") 
                                    i.fa.fa-icon.fa-sign-out
                    .dash
                        div(ui-view="")